{% load fiber_tags compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block doc_title %}{{ fiber_page.title }}{% endblock %} - {{ site_settings.name }}</title>

        {% compress css %}
            <link href="{{ STATIC_URL }}css/styles.css" media="screen, projection" rel="stylesheet" type="text/css" />
        {% endcompress %}

        {% compress css %}
            {% block extend_css %}{% endblock %}
        {% endcompress %}

        {% if site_settings.google_analytics_tracking_id %}
            {% include "ga.html" %}
        {% endif %}
    </head>

    <body class="{{ fiber_page.title|slugify }} {% block extend_body_class %}{% endblock %}">
        <div id="page">
            <header>
                <div id="logo">{{ site_settings.name }}</div>
                <nav id="mainmenu">
                    {% show_menu "mainmenu" 1 1 %}
                </nav>
            </header>
            <section id="main">
                <section id="sidebar-left">
                    <nav id="submenu">
                        {% show_menu "mainmenu" 2 3 %}
                    </nav>
                </section>
                <section id="content">
                    <nav id="breadcrumbs">
                        <ul>
                            {% for fiber_page in fiber_current_pages %}
                            <li>
                                <a href="{{ fiber_page.get_absolute_url }}">{{ fiber_page.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <article>
                        {% block title %}
                            <h1>{{ fiber_page.title }}</h1>
                        {% endblock %}
                        {% show_page_content "content" %}
                    </article>
                </section>
                <section id="sidebar-right">
                    <aside>
                        {% show_page_content "sidebar_right" %}
                        {% show_content "address" %}
                    </aside>
                </section>
            </section>
            <footer>
                <p>&copy; {% now "Y" %}</p>
                <nav id="secondarymenu">
                    {% show_menu "secondarymenu" 1 1 %}
                </nav>
            </footer>
        </div>

        {% compress js %}
            <script src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
            <script src="{{ STATIC_URL }}js/base.js"></script>
            {% block extend_js %}{% endblock %}
        {% endcompress %}
    </body>
</html>
