{% load fiber_tags compress %}
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>
            {% block doc_title %}
                {% if fiber_page.doc_title %}
                    {{ fiber_page.doc_title }}
                {% else %}
                    {{ fiber_page.title }}
                {% endif %}
                - {{ site_settings.name }}
            {% endblock %}
        </title>

        {% if fiber_page.meta_description %}
            <meta charset="utf-8" name="description" content="{{ fiber_page.meta_description }}" />
        {% endif %}
        {% if fiber_page.meta_keywords %}
            <meta charset="utf-8" name="keywords" content="{{ fiber_page.meta_keywords }}" />
        {% endif %}

        {% compress css %}
            <link href="{{ STATIC_URL }}project/styles/styles.css" media="screen, projection" rel="stylesheet" type="text/css">
        {% endcompress %}

        {% compress css %}
            {% block extend_css %}{% endblock %}
        {% endcompress %}

        {% compress js %}
            <script src="{{ STATIC_URL }}js/lib/modernizr-2.7.1.js"></script>
        {% endcompress %}

        {% if site_settings.google_analytics_tracking_id %}
            {% include "ga.html" %}
        {% endif %}
    </head>

    <body class="{{ fiber_page.title|slugify }} {% block extend_body_class %}{% endblock %}">
        <div class="page">
            <header class="header">
                <div class="logo">
                    <a href="/">{{ site_settings.name }}</a>
                </div>
                <nav class="mainmenu">
                    {% show_menu "mainmenu" 1 1 %}
                </nav>
            </header>
            <section class="main">
                <section class="sidebar-left">
                    <nav class="submenu">
                        {% show_menu "mainmenu" 2 3 %}
                    </nav>
                </section>
                <section class="main-content">
                    <nav class="breadcrumbs">
                        <ul>
                            {% for fiber_page in fiber_current_pages %}
                            <li>
                                <a href="{{ fiber_page.get_absolute_url }}">{{ fiber_page.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <article>
                        {% block title %}
                            <h1>{{ fiber_page.title }}</h1>
                        {% endblock %}
                        {% show_page_content "content" %}
                    </article>
                </section>
                <section class="sidebar-right">
                    <aside>
                        {% show_page_content "sidebar_right" %}
                        {% show_content "address" %}
                    </aside>
                </section>
            </section>
            <footer class="footer">
                <p>&copy; {% now "Y" %}</p>
                <nav class="secondarymenu">
                    {% show_menu "secondarymenu" 1 1 %}
                </nav>
            </footer>
        </div>

        {% compress js %}
            <script src="{{ STATIC_URL }}js/lib/jquery-1.10.2.js"></script>
            <script src="{{ STATIC_URL }}js/lib/jquery.placeholder-2.0.7.js"></script>
            <script src="{{ STATIC_URL }}js/base.js"></script>
        {% endcompress %}

        {% compress js %}
            {% block extend_js %}{% endblock %}
        {% endcompress %}
    </body>
</html>
