/* body */

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #666;
}

/* page */

#page {
	margin: 0 auto;
	width: 960px;
}

/* header */

header {
	margin: 10px;
	border-bottom: 1px solid #ccc;
}

#logo {
	font-size: 32px;
}

/* content */

#content {
	
}

#sidebar-left,
#sidebar-right,
#main {
	float: left;
	margin: 0 10px;
	width: 180px;
	min-height: 10px;
}

#main {
	width: 540px;
}

/* footer */

footer {
	margin: 10px 10px 60px 10px;
}

footer p {
	display: inline-block;
	margin: 0;
	font-size: 12px;
}

/* mainmenu */

#mainmenu {

}

#mainmenu ul {
	margin: 0;
}

#mainmenu ul li {
	display: inline-block;
	padding: 0 20px 0 0;
	font-size: 12px;
	text-transform: uppercase;
}

#mainmenu ul li:last-child {
	padding-right: 0;
}

#mainmenu ul li a {
	text-decoration: none;
	color: #666;
}

#mainmenu ul li a:hover,
#mainmenu ul li.current a {
	color: #f30;
}

/* submenu */

#submenu {
	
}

#submenu ul {
	margin: 0;
}

#submenu ul li {
	list-style: none;
}

#submenu ul li ul li {
	padding-left: 15px;
}

#submenu ul li a {
	font-size: 14px;
	text-decoration: none;
	color: #666;
}

#submenu ul li a:hover,
#submenu ul li.current a {
	color: #f30;
}

#submenu ul li.current ul li a {
	color: #666;
}

#submenu ul li.current ul li a:hover,
#submenu ul li.current ul li.current a {
	color: #f30;
}

/* secondarymenu */

#secondarymenu {
	display: inline-block;
}

#secondarymenu ul {
	margin: 0;
}

#secondarymenu ul li {
	display: inline-block;
	font-size: 12px;
}

#secondarymenu ul li:before {
	padding: 0 5px;
	content: '|';
}

#secondarymenu ul li a {
	text-decoration: none;
	color: #666;
}

#secondarymenu ul li a:hover,
#secondarymenu ul li.current a {
	color: #f30;
}

/* breadcrumbs */

#breadcrumbs {
	margin: 0 0 20px 0;
}

#breadcrumbs ul {
	margin: 0;
}

#breadcrumbs ul li {
	display: inline-block;
	font-size: 12px;
	text-transform: lowercase;
}

#breadcrumbs ul li:after {
	content: '»';
}

#breadcrumbs ul li a {
	text-decoration: none;
	color: #666;
}

#breadcrumbs ul li:last-child:after {
	content: '';
}

/* content formatting */

.content {

}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

ul,
ol,
p {
	margin-bottom: 1.5em;
	font-size: 14px;
}

table {
	margin: 0 0 1.5em 0;
	border: 1px solid #333;
	width: 100%;
}

table tr th,
table tr td {
	border: 1px solid #333;
	display: table-cell;
	padding: 5px;
	vertical-align: top;
}

table tr th {
	color: #fff;
	background-color: #555;
}

a {
	color: #f30;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

img {
	float: left;
	margin: 0 5px 10px 0;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul li ul,
ol li ol {
	margin-bottom: 0;
}
