// body
body {

}

// page
.page {
    margin: 0 auto;
    width: 960px;
}

// header
.header {
    margin: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;

    .logo {
        margin: 0 0 10px 0;

        a {
            border-bottom: 0;
            font-size: 32px;
            font-weight: bold;
            color: #666;
        }
    }
}

// main
.main {
    @extend .clearfix;

    .sidebar-left,
    .sidebar-right,
    .main-content {
        float: left;
        margin: 0 10px;
        width: 180px;
        min-height: 10px;
    }

    .main-content {
        width: 540px;
    }
}

// footer
.footer {
    padding: 10px 10px 60px 10px;

    p {
        display: inline-block;
        margin: 0;
        font-size: 12px;
    }
}

// menus
nav {

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 0;
            padding: 0;

            a {
                text-decoration: none;
                color: #666;
            }

            a:hover,
            &.current a {
                color: #f30;
            }
        }
    }
}

// mainmenu
.mainmenu {

    ul {

        li {
            display: inline-block;
            padding: 0 20px 0 0;
            text-transform: uppercase;
        }
    }
}

// submenu
.submenu {

    ul {

        li {

            ul li {
                padding-left: 15px;
            }

            &.current ul li {

                a {
                    color: #666;
                }

                a:hover,
                &.current a {
                    color: #f30;
                }
            }
        }
    }
}

// secondarymenu
.secondarymenu {
    display: inline-block;

    ul {
        margin: 0;

        li {
            display: inline-block;
            font-size: 12px;

            &:before {
                padding: 0 5px;
                content: '|';
            }
        }
    }
}

// breadcrumbs
.breadcrumbs {
    margin: 0 0 20px 0;

    ul {

        li {
            display: inline-block;
            font-size: 12px;
            text-transform: lowercase;

            &:after {
                content: '»';
            }

            &:last-child:after {
                content: '';
            }
        }
    }
}
