main.content,
aside.content {
    padding: 0 12px;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */

    main.content {
        width: 62%;
        margin: 0 4% 0 0;
        float: left;
    }
}