/* menus */

nav {

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 0;
            padding: 0;

            a {
                text-decoration: none;
                color: #666;
            }

            a:hover,
            &.current a {
                color: #f30;
            }
        }
    }
}

/* mainmenu */

#mainmenu {

    ul {

        li {
            display: inline-block;
            padding: 0 20px 0 0;
            text-transform: uppercase;
        }
    }
}

/* submenu */

#submenu {

    ul {

        li {

            ul li {
                padding-left: 15px;
            }

            &.current ul li {

                a {
                    color: #666;
                }

                a:hover,
                &.current a {
                    color: #f30;
                }
            }
        }
    }
}

/* secondarymenu */

#secondarymenu {
    display: inline-block;

    ul {
        margin: 0;

        li {
            display: inline-block;
            font-size: 12px;

            &:before {
                padding: 0 5px;
                content: '|';
            }
        }
    }
}

/* breadcrumbs */

#breadcrumbs {
    margin: 0 0 20px 0;

    ul {

        li {
            display: inline-block;
            font-size: 12px;
            text-transform: lowercase;

            &:after {
                content: '»';
            }

            &:last-child:after {
                content: '';
            }
        }
    }
}
