/* body */

body {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	color: #666;
}

/* page */

#page {
	margin: 0 auto;
	width: 960px;
}

/* header */

header {
	margin: 10px;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;

	#logo {
		font-size: 32px;
	}
}

/* content */

#content {

	#sidebar-left,
	#sidebar-right,
	#main {
		float: left;
		margin: 0 10px;
		width: 180px;
		min-height: 10px;
	}

	#main {
		width: 540px;
	}
}

/* footer */

footer {
	margin: 10px 10px 60px 10px;

	p {
		display: inline-block;
		margin: 0;
		font-size: 12px;
	}
}

/* mainmenu */

#mainmenu {

	ul {
		margin: 0;

		li {
			display: inline-block;
			padding: 0 20px 0 0;
			font-size: 12px;
			text-transform: uppercase;

			&:last-child {
				padding-right: 0;
			}

			a {
				text-decoration: none;
				color: #666;
			}

			a:hover,
			&.current a {
				color: #f30;
			}
		}
	}
}

/* submenu */

#submenu {

	ul {
		margin: 0;

		li {
			list-style: none;

			ul li {
				padding-left: 15px;
			}

			a {
				font-size: 14px;
				text-decoration: none;
				color: #666;
			}

			a:hover,
			&.current a {
				color: #f30;
			}

			&.current ul li {

				a {
					color: #666;
				}

				a:hover,
				&.current a {
					color: #f30;
				}
			}
		}
	}
}

/* secondarymenu */

#secondarymenu {
	display: inline-block;

	ul {
		margin: 0;

		li {
			display: inline-block;
			font-size: 12px;

			&:before {
				padding: 0 5px;
				content: '|';
			}

			a {
				text-decoration: none;
				color: #666;
			}

			a:hover,
			&.current a {
				color: #f30;
			}
		}
	}
}

/* breadcrumbs */

#breadcrumbs {
	margin: 0 0 20px 0;

	ul {
		margin: 0;

		li {
			display: inline-block;
			font-size: 12px;
			text-transform: lowercase;

			&:after {
				content: '»';
			}

			&:last-child:after {
				content: '';
			}

			a {
				text-decoration: none;
				color: #666;
			}
		}
	}
}

/* content formatting */

.content {

}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

ul,
ol,
p {
	margin-bottom: 1.5em;
	font-size: 14px;
}

table {
	margin: 0 0 1.5em 0;
	border: 1px solid #333;
	width: 100%;

	tr th,
	tr td {
		border: 1px solid #333;
		display: table-cell;
		padding: 5px;
		vertical-align: top;
	}

	tr th {
		color: #fff;
		background-color: #555;
	}
}

a {
	color: #f30;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

img {
	float: left;
	margin: 0 5px 10px 0;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul li ul,
ol li ol {
	margin-bottom: 0;
}
