/* content formatting */

body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
    font-size: 14px;
    line-height: 1.5;
    color: #666;
}

article,
aside {

    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 0.5em 0;
        font-weight: bold;
        line-height: 1;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 14px;
    }

    ul,
    ol,
    p,
    table {
        margin: 0 0 1.5em 0;
        font-size: 14px;
    }

    ul,
    ol {
        padding: 0;

        li ul,
        li ol {
            margin-bottom: 0;
            padding-left: 40px;
        }
    }

    table {
        width: 100%;

        tr th,
        tr td {
            border: 1px solid #eee;
            padding: 5px;
            vertical-align: top;
        }

        tr th {
            background-color: #eee;
        }
    }

    a {
        border-bottom: 1px solid;
        text-decoration: none;
        color: #f30;

        &:hover {
            border-bottom: none;
        }
    }

    img {
        float: left;
        margin: 0 5px 10px 0;
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }
}

aside {

    ul,
    ol,
    p,
    table {
        font-size: 12px;
    }
}
