/* layout */

/* body */

body {

}

/* page */

#page {
    margin: 0 auto;
    width: 960px;
}

/* header */

header {
    margin: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;

    #logo {
        font-size: 32px;
    }
}

/* main */

#main {

    @extend .clearfix;

    #sidebar-left,
    #sidebar-right,
    #content {
        float: left;
        margin: 0 10px;
        width: 180px;
        min-height: 10px;
    }

    #content {
        width: 540px;
    }
}

/* footer */

footer {
    padding: 10px 10px 60px 10px;

    p {
        display: inline-block;
        margin: 0;
        font-size: 12px;
    }
}
